.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
Boards/Flamingo PCBA/Adafruit IMU Trade Study.gsheet
Boards/before discarding stashed changes.zip
*.dblite
*.elf
*.o
*.a
*.hex
*.cpp.o
Boards/Bike Flamingo IB-5V-USB/Bike Flamingo IB-5V-USB Rev 1/Rework.gslides
Boards/Nano 33 BLE Flamingo/Datasheets/unnamed.jpg
